<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <select class="custom-select col-lg-3" id="inputGroupSelect01"
                        style="margin-top:10px; margin-left:20px;" (change)="onChange($event)">
                        <option selected disabled> выберите номер Рейса </option>
                        <option *ngFor="let tripNum of arrOfTrips"> {{tripNum}} </option>

                    </select>

                    <div class="tripTitle" *ngIf="fullTrip"  style="margin-left:20px;" >
                        <h3> Назване маршрута: {{fullTrip[0].routeTitle}} </h3> 
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead class=" text-primary">
                             
                                    <th>
                                        Маршрут
                                    </th>
                                    <th>
                                      Дата отправления
                                    </th>
                                    <th>
                                     Дата прибытия
                                    </th>
                                    <th>
                                        Вместимость
                                    </th>

                                    <th>
                                        Цена
                                    </th>

                                </thead>
                                <tbody *ngFor="let trips of fullTrip">
                                    <tr>
                                        
                                        <td>
                                         {{trips.segmentTitle}}
                                        </td>
                                        <td>
                                       {{trips.timeDeparture | date}} 
                                        </td>
                                        <td>
                                            {{trips.timeArrival | date}}
                                        </td>
                                        <td class="text-primary">
                                           {{trips.busDto.seatsCount}}


                                        </td>
                                        <th>
                                            {{trips.segmentPrice}}
                                        </th>
                                      
                                       
                                    </tr>
                                   
                                </tbody>
                                <button mat-raised-button class="btn btn-danger"
                                (click)="deleteItem()">Удалить</button>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>