<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
     

        <div class="selectStations" >
          <select class="custom-select col-lg-2" id="inputGroupSelect01"  style="margin-top:10px;" (change)="onChange($event)" >
            <option selected disabled>Выберите маршрут</option>
        <option *ngFor="let routeTitle of route" value={{routeTitle.id}}>  {{routeTitle.title}} </option>

          </select>
          
       
        </div>
       

       
         
    
   
        <!-- <div class="timePicker" style="margin-top: 50px;">
            <ngb-timepicker [(ngModel)]="time"> </ngb-timepicker>
          </div> -->
        

      <form class="form-inline" [formGroup]="StationsFormArray" >
         <div formArrayName="segment">

        
        <div class="choiseBus" style="margin-top: 10px;" >
          <input  class="form-control col-lg-6" placeholder="Номер рейса" >
          
              <select class="custom-select col-lg-6" id="inputGroupSelect01" (change)="busSelect($event)" >
            
            <option selected disabled >  Выберите Автобус </option>
            <option *ngFor="let bus of busSelector" [value]=bus.id>{{bus.title}}   вместимость {{bus.seatsCount}}  </option>
            
              </select>
            </div>

      
          <div class="form-group"  *ngFor="let segments of segmentSelect; let i=index" >
            
             
            <div class="input-group">
              <!-- <input class="form-control col-lg-1" style="margin-left: 25px;"  disabled>  -->
              <p class="col-lg-1"> {{segments.segmentDto.id}} </p>
              <p class="col-lg-2" >{{segments.segmentDto.title}} </p>
             
                
            
              
                     <input class="form-control col-lg-3" style="margin-left: 25px;" placeholder="Дата и Время отправления">
           

            

                     <input class="form-control col-lg-3" style="margin-left: 20px;" placeholder="Дата и Время прибытия" >
                    

              <input type="text" class="form-control col-lg-2" style="margin-left: 20px;" placeholder="Цена">

              <!-- <input class="form-control col-lg-1" style="margin-left: 25px;" placeholder="Номер Рейса"  disabled>  -->
         
           
            </div>
          </div>
         
          </div>
        
          
       
  
        


    
        </form>
        

        <pre>{{StationsFormArray.value | json}} </pre>
       
   
      <hr>
      
        <div class="ngxFormlyExample"> 
      <form [formGroup]="form" (ngSubmit)="submit(model)">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
     
      </form>
    </div>


            <pre>{{model.value | json}} </pre>
                  <pre>{{form.value |json }} </pre>
    <button type="submit" class="btn btn-default">Submit</button>

        <div class="buttonsAddCansel" style="margin-top:20px;">
            <button type="button" class="btn btn-primary" (click)="createNewTrips()">Добавить</button>
  
            <button type="button" class="btn btn-danger">Отменить</button>
          </div>

      
      </div>


    </div>
      </div>
</div>
