<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
     

        <div class="selectStations" >
          <select class="custom-select col-lg-2" id="inputGroupSelect01"  style="margin-top:10px;" (change)="onChange($event)" >
            <option selected disabled>Выберите маршрут</option>
        <option *ngFor="let routeTitle of route" value={{routeTitle.id}}>  {{routeTitle.title}} </option>

          </select>
          
       
        </div>


       
         
    
   
        <!-- <div class="timePicker" style="margin-top: 50px;">
            <ngb-timepicker [(ngModel)]="time"> </ngb-timepicker>
          </div> -->
        

      <form class="form-inline" [formGroup]="DynamicForm">
         
          <div class="choiseBus" style="margin-top: 20px;">
          <input  class="form-control col-lg-6" placeholder="Номер рейса" [formControlName]="tripNumber">

        
        
          
              <select class="custom-select col-lg-6" id="inputGroupSelect01"  style="margin-left:60px;" (change)="busSelect($event)" [formControlName]="busIdName" >
            
            <option selected disabled >  Выберите Автобус </option>
            <option *ngFor="let bus of busSelector" [value]=bus.id>{{bus.title}}   вместимость {{bus.seatsCount}}  </option>
            
              </select>
            </div>

          <div class="form-group"  *ngFor="let segments of segmentSelect; let i=index ">
            
             
            <div class="input-group">

              <p >{{segments.segmentDto.title}} </p>
                
              <input  placeholder="дата отправления" style="margin-left: 50px;"
                     name="dp" [value]="dataDeparture" >
            
                     <input class="form-control col-lg-1" style="margin-left: 20px;" placeholder="HH"  [value]=HHtimeDeparture>
                     <input  class="form-control col-lg-1" style="margin-left: 20px;" placeholder="MM"  [value]=MMtimeDeparture>

                     <input  placeholder="дата прибытия" style="margin-left: 50px;"
                     name="dp" [value]=dataArrival>

                     <input class="form-control col-lg-1" style="margin-left: 20px;" placeholder="HH" [value]=HHtimeArrival >
                     <input  class="form-control col-lg-1" style="margin-left: 20px;" placeholder="MM" [value]=MMtimeArrival>

              <input type="text" class="form-control col-lg-1" style="margin-left: 20px;" [value]=segments.segmentDto.price [formControlName]="segmentPriceName" > Цена
              {{segments.segmentDto.id}}
           
            </div>
          </div>


    
        </form>
        <!-- <pre>{{DynamicForm.value |json}} </pre> -->
       
   
      <hr>
      
  

        <div class="buttonsAddCansel" style="margin-top:20px;">
            <button type="button" class="btn btn-primary" (click)="createNewTrips()">Добавить</button>
  
            <button type="button" class="btn btn-danger">Отменить</button>
          </div>

      
      </div>


    </div>
      </div>
</div>
