<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Купленные билеты</h4>
                  
              </div>
            
     
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>  Номер Рейса </th>
                                  <th>
                                        Маршрут
                                  </th>
                                  <th>
                                      Время отправления
                                  </th>
                                  <th>
                                      Дата отправления
                                  </th>
                                  <th>
                                    Количество купленных мест
                                  </th>

                            

                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          88
                                      </td>
                                      <td>
                                         Москва - Махачкала
                                      </td>
                                      <td>
                                         07 :00
                                      </td>
                                      <td>
                                       01.01.2019
                                      </td>
                                      <td class="text-primary">
                                       30
                                          
                                         
                                      </td>

                             

                                  </tr>
                                  <tr>
                                    <td>
                                        14
                                    </td>
                                    <td>
                                       Москва -Воронеж
                                    </td>
                                    <td>
                                       08 :00
                                    </td>
                                    <td>
                                     01.01.2019
                                    </td>
                                    <td class="text-primary">
                                     29
    
                                    </td>
                              
                                </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
